<%= @errors if @errors %>
<% if @user1 && @user2 %>
	<div class="results">
		<% if @mutuals %>
			<span>@<%= @user1 %> and @<%= @user2 %> follow each other on Twitter, and </span>
		<% else %>
			<span>@<%= @user1 %> and @<%= @user2 %> don't follow each other on Twitter, but</span>
		<% end %>
		<span>they both follow</span>
		<ul>
			<% @shared.each do |handle| %>
				<li>@<%= handle %></li>
			<% end %>
		</ul>
	</div>
<% end %>